<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projekti">

    <application
        android:allowBackup="true"
        android:icon="@drawable/moveo_ikoni"
        android:label="Moveo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HistoriaActivity"></activity>
        <activity android:name=".TulevatActivity" />
        <activity android:name=".LiikuntavuoronTiedotActivity" />
        <activity android:name=".LiikuntavuorotListattunaActivity" />
        <activity
            android:name=".ProfileActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>